{% extends 'base/base.html' %}
{% block title %}
Detalles de envio
{% endblock %}
{% load static %}
{% block contenido %}

<section class="adminProduct">

    <body style="height: 100%">
        <main class="main_formProduct">
            <section class="container_formProduct">
                <div class="iner_formProduct">
                    <h3>Detalle de envio: {{ obj.compra_envio.num_referencia }}</h3>

                    <h4><strong>Pedido #</strong> {{ obj.id }}</h4>
                    <h4><strong>Fecha de pedido:</strong> {{ obj.fech_pedido|date:'d/m/Y' }}</h4>
                    <h4><strong>Fecha de Entrega Estimada:</strong> {{ obj.fech_envio|date:'d/m/Y' }}</h4>
                    <h4><strong>Cedula del cliente </strong> {{ obj.cliente.cedula }}</h4>
                    <h4><strong>Nombre del cliente cliente </strong> {{ obj.cliente.nombre }} {{ obj.compra_envio.cliente.apellido }}</h4>
                    <h4><strong>Telefono</strong> {{ obj.cliente.numero }}</h4>

                    <h3>Productos de envio:</h3>
                        <button class="btn btn-info" type="submit" id ="busquedaBoton"><a href="{% url 'management:detail_sell' %}" >Ver Productos de la Orden</a></button>
                </div>
            </section>
        </main>
    </body>

</section>

{% endblock %}